{% extends "layouts/base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		{% if total %}
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Date</th>
					<th class="text-center">Value A</th>
					<th class="text-center">Value B</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
				<tr>
					<td>{{ item.date }}</td>
					<td class="text-right">{{ item.dataA|floatformat:2 }}</td>
					<td class="text-right">{{ item.dataB|floatformat:2 }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			{% include 'shared/messages/empty_rows.html' with message='There is no data for this site.' %}
		{% endif %}
	</div>
</div>
{% endblock %}
