{% load custom_tags %}
{% if paginator.has_other_pages %}
<ul class="pagination">
	{% if paginator.has_previous %}
		<li><a href="{% pagination_link endpoint 1 params %}">&laquo;</a></li>
		<li><a href="{% pagination_link endpoint paginator.previous_page_number params %}">&lsaquo;</a></li>
	{% else %}
		<li class="disabled">
			<span>&laquo;</span>
		</li>
	{% endif %}

	<li class="active"><span>{{ paginator.number }}</span></li>

	{% if paginator.has_next %}
		<li><a href="{% pagination_link endpoint paginator.next_page_number params %}">&rsaquo;</a></li>
		<li><a href="{% pagination_link endpoint paginator.paginator.num_pages params %}">&raquo;</a></li>
	{% else %}
		<li class="disabled"><span>&raquo;</span></li>
	{% endif %}
</ul>
{% endif %}
